  <div class=" container-fluid row">
    <div class=" col-xl-3">
    </div>
    <div class="row col-xl-9">
      <div class="col-xl-3 col-lg-8">
        <p style="align-content: center;">First</p>
      </div>
      <div class="col-xl-3 col-lg-8">
        <p style="align-content: center;">Second</p>
      </div>
      <div class="col-xl-3 col-lg-8">
        <p style="align-content: center;">Third</p>
      </div>
      <div class="col-xl-3 col-lg-">
        <p style="align-content: center;">Fourth</p>
      </div>
    </div>
  </div>